<div>
  <h1><%= @task.title %></h1>
  <h2><%= @task.details %></h2>
  <br>
  <div>
    <button> <%= link_to "Edit", edit_task_path %></button>
  </div>
  <div>
    <button><%= link_to "Delete",
      destroy_task_path,
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </button>
  </div>
  <hr>
  <button><%= link_to "Back to Tasks", tasks_path %></button>
</div>
